
<div class="container">
  <div class="jumbotron">
    <h2><em>About Us</em></h2> 
    <p>
		We meet everyday needs for nutrition, hygiene and
	  personal care with brands that help people feel good,
	  look good and get more out of life.
	</p>
	
  </div>

</div>